@{
    ViewBag.Title = "Autor projektu";
}
<h2>@ViewBag.Title.</h2>
<main role="main" class="container">

    <div class="row">

        <div class="col-sm-8 blog-main">

            <div class="blog-post">
                <h2 class="blog-post-title">Kim jest?</h2>
                <p class="blog-post-meta">Ur. w 1982r. w Bydgoszczy, żonaty, wykształcenie wyższe magisterskie.</p>
                
               
                <p>Zajmowałem się wieloma rzeczami <b> aby zdobyć doświadczenie</b>. 
                Praca w wyuczonym zawodzie diagnosty laboratoryjnego nie była dla mnie.
                Miszkałem <b>rok w Szwecji</b> pracując w fabryce Volvo C70. 
                    <b>Programowałem zdalnie</b> jako php webdeveloper przez pół roku.
                Zaplanowałem kamienie milowe mojego życia i idąc po wyznaczonej drodze skutecznie je przekraczam.
                    <b>Prowadziłem firmę</b> budowlaną-brukarską. </p>
                <p> Zbudowałem dom (wyremontowałem mieszaknie w ponad 100-letnim młynie), wziąłem ślub i nadszedł <b>czas na realizację</b> swej dawnej <b>pasji</b>.</p>               
                <h3>Mój pierwszy komputer.</h3>
                <p>Rodzice kupili mi ATARI 800XE i do dziś pamiętam niebieski ekran z napisem:</p>
                <pre class="atari"><code>READY<br />_
                    </code></pre>
                <p>Wtedy też miałem okazję poznać "abc" języka basic, które zaczerpnąłem z popularnego wówczas czasopisma "Bajtek". 
                </p>
                <h3>Dopiero w szkole średniej na nowo odkryłem programowanie.</h3>
                <p>Tworzyłem pierwsze strony html w MS FrontPage.</p>
               <p>Napisałem kilka serwisów internetowych, na których nauczyłem się programować.</p>
                <ul>
                    <li>Portal z ogłoszeniami drobnymi w PHP z jQuery.</li>
                    <li>Portal wypożyczalni narzędzi z CMS w CakePhp2 +Bootstrap.</li>
                    <li>kilka stron www na potrzeby własne i dla znajomych.</li>
                </ul>
                <p>Pracując jako zdalny programista poznałem podstawy c# i MS VisualStudio</p>                
                <p>Nie uważam się za nowicjusza w kwestii programowania, w kontekście tworzenia stron i niedużych sewrisów www.
                Mam świadomość  ogromu technologii i zakresu wiedzy jaką musi posiadać dzisiejszy programista.
                Zdecydowanie chcę się uczyć rzeczy praktycznych, potrzebnych w pracy zawodowej. 
                </p>
            </div><!-- /.blog-post -->         
        </div><!-- /.blog-main -->
        <aside class="col-sm-3 ml-sm-auto blog-sidebar">
            <div class="sidebar-module sidebar-module-inset">                
                <h4>Trzy najważniejsze cechy jakie posiadam:</h4>
                <p>Umiejętność pracy w zespole, chęć rozwoju i zaangażowanie.</p>
                <img class="img-responsive" src="~/Content/img/tomekFoto.jpg" />
            </div>               
        </aside><!-- /.blog-sidebar -->
    </div><!-- /.row -->
</main><h3>@ViewBag.Message</h3>
<address>
    Tomasz Drzewiecki<br/>
    Mochle 65<br />
    86-014 Sicienko<br/>
    Polska<br />
    <abbr title="Phone">tel.:</abbr>
    +48 608-612-553
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:contact@tomaszdrzewiecki.pl">contact@tomaszdrzewiecki.pl</a><br />
   
</address>