@{
    ViewBag.Title = "Home Page";
}

<div>
    <h1>Biblioteka</h1>
    <p class="lead">Aplikacja ASP.NET MVC na potrzeby rekrutacji w firmie Cybercom Poland oddział w Bydgoszczy</p>
    
</div>

<div class="row">
    <div class="col-md-4 alert-danger">
        <h2>Autorzy</h2>
        <p>Zakładka wyświetla listę autorów oraz umożliwia operacje związane z ich edycją, dodawaniem i usuwaniem.</p>
        <p><input type="button" value="Więcej" class="btn btn-danger" onclick="location.href='@Url.Action( "Index", "ListaAutorow")'" /></p>
    </div>
    <div class="col-md-4 alert-info">
        <h2>Książki</h2>        
        <p>Zakładka wyświetla listę książek oraz umożliwia operacje związane z ich edycją, dodawaniem i usuwaniem.</p>
        <p><input type="button" value="Więcej" class="btn btn-info" onclick="location.href='@Url.Action( "Index", "ListaKsiazek")'" /></p>
    </div>
    <div class="col-md-4 alert-success">
        <h2>Lista autorów i książek</h2>
        <p>Wyświetla współną listę z możliwością edycji rekordów.</p>
        <p><input type="button" value="Więcej" class="btn btn-success" onclick="location.href='@Url.Action( "Index", "ListaMieszana")'" /></p>
    </div>
</div>